<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div class="container mx-auto">
      <header>
        <%= @note.title%>
      </header>
      <article>
        <%= @note.content%>
      </article>
    </div>
    <div>
      <%= link_to 'All Notes', notes_path, class: "btn btn-primary" %>
      <%= link_to "Edit", edit_note_path(@note), class: "btn btn-secondary" %>
      <%= link_to "Delete", note_path(@note), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } , class: "btn btn-error"  %>
    </div>
  </body>
</html>
