<div>
  <p><%= @note.title %></p>
  <p><%= @note.citation %></p>
  <%= link_to "All Notes", notes_path  %>
  <div >
    <%= link_to "Edit", edit_note_path(@note) %>
    <%= link_to "Delete", note_path(@note), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
  </div>
</div>
